{% extends 'parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/profile.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/band-edit.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('web/scripts/linkify.min.js') }}"></script>
    <script src="{{ asset('web/scripts/linkify-jquery.min.js') }}"></script>
    <script src="{{ asset('web/scripts/jquery.growl.js') }}"></script>
    <link href="{{ asset('web/styles/jquery.growl.css') }}" rel="stylesheet" type="text/css"/>
    <title>{{ Band.Title }}</title>
{% endblock %}



{% block body %}
    <input id="ProjectID" value=" " type="hidden">
    <div id="profile">
        <div class="profile-left">
            <img id="profile-picture"
                 src="{{ asset(photo_data_provider.BandPhotoById(Band.bandId)) }}"
                 width="230" height="280">
        </div>

        <div class="profile-right">
            <p id="name-profile">{{ Band.Title }}
                {% if app.user.PartOfBand(Band) %}
                    <button id="edit-mode" class="navico message-ico"><i class="fas fa-pencil-alt"></i>
                    </button> {# edycja #}
                {% endif %}

            </p>
            <form action="{{ path('editBandAction') }}" method="post" enctype="multipart/form-data" >
            <div id="modal-edit" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close"></span>


                    <div class="edit-profile">

                        <div class="edit-container">
                            <div id="up">
                                <div id="photo">


                                    <br>

                                    <label for="image">
                                        <input type="file" name="photo" id="image"
                                               accept="image/jpeg, image/png"
                                               class="fileToUpload" style="display:none;"/>
                                        <img id="photo-edit"
                                             src="{{ asset(photo_data_provider.BandPhotoById(Band.bandId)) }}"
                                             width="120"
                                             height="160" style="object-fit: cover;"/>
                                    </label>

                                    <br><br><br>


                                </div>

                                <div class="name_div">
                                    <input type="text" class="name" placeholder="Tytuł" name="title"
                                           maxlength="50"
                                           value="{{ Band.title }}"/>
                                </div>
                            </div>
                            <div class="info bi">
                                        <textarea name="text" class="bio" placeholder="Opis" rows="10"
                                                  cols="25">{{ Band.description }}</textarea>
                                <input type="hidden" class="bio" placeholder="Opis" name="description"
                                       maxlength="250"/><br>

                                <br>
                            </div>
                            <button type="button" id="button-moret" class="button-moret btad">Dodaj <i
                                        class="fas fa-plus"></i></button>
                            <br>

                            <div id="tech-forms" class="forms">
                                <div>
                                    <input type="text" class="bio tech" id="tech" placeholder="Gatunek muzyczny"
                                           maxlength="50"
                                           name="musicGenres[]" list="TechList">
                                    <datalist id="TechList">

                                    </datalist>
                                    <button type="button" id="button-less" class="less btad">-</button>
                                    <br></div>
                            </div>


                            <div id="Technologies"></div>


                        </div>


                        <br>
                        <div class="buttons">
                            <button id="cancel-edit" class="button">Anuluj</button>
                            <input id="bandId" type="hidden" name="bandId" value={{ Band.bandId }}>
                            <input type="submit"  class="btn-save button" value="Zapisz">
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <p class="infos">CZŁONKOWIE</p>
            <ul style="list-style-type:circle;">
                {% for user in Band.user %}
                    <li>{{ user.firstname }} '{{ user.username }}' {{ user.lastname }}</li>
                {% endfor %}</ul>
            <hr>


            <p class="infos">GATUNKI</p>
            <ul style="list-style-type:circle;">
                {% for musicGenre in Band.musicGenres %}
                    <li>{{ musicGenre.name }}</li>
                {% endfor %}</ul>
            <hr>
            <p id="descband">{{ Band.description }}</p>
        </div>
    </div>

    <div id="mess">
        {% if not app.user.PartOfBand(Band) %}
            <button id="message" class="navico message-ico"><i class="fa fa-envelope"></i>
            </button> {# wyslij wiadomosc #}
        {% endif %}
        <div id="modal-message" class="modal">
            <div class="modal-content">
                <span class="close"></span>
                <p>Napisz wiadomość do <a href=""> {{author.username}} </a></p>
                <div class="photo-textarea">

                    <textarea id="mssgtxt" name="messageText" class="form-control" rows="5" cols="25"></textarea>
                </div>
                <div class="buttons">
                    <button class="cancel-btn button">Anuluj</button>
                    <button id="send-btn" class="button">Wyślij</button>

                </div>
            </div>
        </div>
        {% if not app.user.PartOfBand(Band) %}

            <button id="add-me" class="navico message-ico"><i class="fa fa-user-plus"></i>
            </button> {# popros o dodanie #}
        {% endif %}

        <div id="modal-add" class="modal">
            <div class="modal-content">

                <p>Czy chcesz wysłać prośbę o dołączenie do zespołu <a>{{ Band.title }}</a>?</p>

                <textarea id="addtxt" name="text" class="form-control"
                          placeholder="Napisz dlaczego chcesz dołączyć." rows="5" cols="25"></textarea>
                <div class="buttons" style="height: 40px;">
                    <button class="cancel-btn button">Anuluj</button>
                    <input type="hidden" name="bandId" value={{ Band.bandId }}>
                    <button id="add-usr-btn" class="btn-save button" >Wyślij prośbę</button>

                </div>

            </div>
        </div>


    </div>



    {# reporty #}
    <div id="modal-report" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Dlaczego chcesz zgłosić ogłoszenie użytkownika <a> <span id="reportUsername"></span></a>?</p>
            <div class="photo-textarea">

                <textarea id="reptxt" name="reason" class="form-control" rows="5" cols="25"></textarea>

                <input id="postId" type="hidden" name="postId" value='default'>
            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <button type="submit" id="report-btn" class="report-btn button" value="">Zgłoś</button>

            </div>
        </div>
    </div>

    {% if app.user.PartOfBand(Band) %}
        <form action="{{ path('createBandPostAction') }}" method="post" enctype="multipart/form-data">

            <div class="form-post">
                <img id="post-avatar" src="{{ asset(photo_data_provider.PhotoById(app.user.userId)) }}"
                     width="70" height="70">

                <div class="photo-textarea">
                    <textarea name="text" class="form-control" rows="5" cols="25"></textarea>
                    <button style="display:none;" id="file-cancel"></button>
                    <label>
                        <input type="file" id="add-image" accept="image/jpeg, image/png" class="fileToUpload"
                               name="photo" style="display:none;"/>
                        <span><i class="fa fa-image"></i></span>
                    </label>

                    <input type="hidden" name="bandId" value={{ Band.BandId }}>
                    <input type="submit" id="button-rem" class="button-post" value="Opublikuj"></div>
                <br>


            </div>
        </form>
    {% endif %}

    {% for post in posts %}
        <div class="comment">
            <a href="{{ path('profileIndexAction', {'username': post.user.username}) }}">
                <img id="comment-avatar"
                     src="{{ asset(photo_data_provider.PhotoById(post.user.userId)) }}"
                     width="70"
                     height="70"></a>

            <p class="project-title"
               href=""> {{ post.user.firstname }} {{ post.user.lastname }}</p>
            ✽ {{ post.timestamp|date('Y-m-d') }}

            {% if post.user.username != app.user.username %}
                <button class="reportico" onclick="reportPost('{{ post.user.username }}', '{{ post.postId }}')"><i
                            class="fa fa-exclamation-circle"></i></button>
            {% endif %}

            <p class="comment-content">{{ post.text }}</p>
            {% if photo_data_provider.PostPhotoById(post.postId) is not null %}
                <div class="comment-image"><a target="_blank"
                                              href="{{ asset(photo_data_provider.PostPhotoById(post.postId)) }}"><img
                                image-zoom
                                src="{{ asset(photo_data_provider.PostPhotoById(post.postId)) }}"
                                width="250"
                        ></a></div>
            {% endif %}
        </div>
    {% endfor %}


    <script>
        function reportPost(username, postId) {
            event.preventDefault();
            document.getElementById('postId').value = postId;
            document.getElementById("reportUsername").innerHTML = username;
            $('#modal-report').show();
        }


        $(document).ready(function () {

            ////popup add-me
            $("#add-me").on("click", function () {
                event.preventDefault();
                $('#modal-add').show();
            });

            ////popup message
            $("#message").on("click", function () {
                event.preventDefault();
                $('#modal-message').show();
            });

            ////popup request
            $("#ReqButton").on("click", function () {

                event.preventDefault();
                //$('#modal-edit').hide();
                $('#modal-req').show();
            });

            //close modals
            $(".cancel-btn").on("click", function () {
                event.preventDefault();
                $('#mssgtxt').val("");
                $('#addtxt').val("");
                $('#reptxt').val("");
                $('#reqtxt').val("");
                $('#reqTitle').val("");
                $('#modal-add').hide();
                $('#modal-message').hide();
                $('#modal-report').hide();
                $('#modal-req').hide();

            });


            //////popup edit mode
            $("#edit-mode").on("click", function () {
                event.preventDefault();
                $('#modal-edit').show();
            });
            //cancel edit mode
            $("#cancel-edit").on("click", function () {
                event.preventDefault();
                $('#modal-edit').hide();
            });

            //////////////photo preview
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var filename = (input.files[0].name);

                    reader.onload = function (e) {
                        $('#file-cancel').html("x " + filename);
                        $('#file-cancel').show();
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#add-image").change(function () {
                readURL(this);
            });
            /////////////////

            $("#file-cancel").on("click", function () {
                event.preventDefault();
                $('#add-image').val("");
                $('#file-cancel').hide();
            });

            ///////photo preview comment


        });


        ////////////////////////////validate forms

        function validateformReport() {
            var reason = document.reportForm.reason.value;

            if (reason == null || reason == "") {
                //console.log(reason);
                document.reportForm.reason.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        function validateformMessage() {
            var message = document.messageForm.messageText.value;

            if (message == null || message == "") {
                //console.log(reason);
                document.messageForm.messageText.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }


        function validateformPost() {
            var content = document.postForm.text.value;
            var photo = document.postForm.photo.value;

            if ((content == null || content == "") && (photo == null || photo == "")) {
                //console.log(reason);
                document.postForm.text.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        function validateformAsk() {
            var contents = document.AskForm.messageText.value;

            if (contents == null || contents == "") {
                //console.log(reason);
                document.AskForm.messageText.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }


        /*
                ////validateform
                function validateformCreate(){
                    var title=document.postCreate.title.value;
                    document.postCreate.title.style.border = "1px solid #7DA2AA";

                    var isValid;
                    $(".tech").each(function() {

                        var element = $(this);
        //////
                        element.css("border","1px solid #7DA2AA");
                        var requestExistsTech = new XMLHttpRequest()

                        if((element.val() == "")  || (element.val() == null) ){
                            isValid=false;
                            element.css("border","1px solid red");

                        }else{

                            requestExistsTech.open('GET', 'http://127.0.0.1:8000/technologyExists/' + element.val(), false)
                            requestExistsTech.onload = function () {

                                var dataE = JSON.parse(this.response)


                                if (requestExistsTech.status >= 200 && requestExistsTech.status < 400) {
                                    //console.log(dataE);


                                    if ((element.val() == "") || dataE=="false" || (element.val() == null) ){
                                        ///console.log("NOPEEEE" + element.val());
                                        isValid=false;
                                        element.css("border","1px solid red");
                                    }


                                } else {
                                    isValid=false;
                                    console.log('error')
                                }


                            }

                            requestExistsTech.send()
                        }
                    });


        //////
                    if (title==null || title==""){
                        //console.log(reason);
                        document.postCreate.title.style.border = "1px solid red";
                        return false;
                    }

                    if(isValid==false){return false;}
                    else{  return true; }


                }*/


        //////////////////////////////////
        //////Function for getting genres
        var changeTimer = false;
        $('#tech-forms').on("keyup", ".tech", function (callback) {
            if (changeTimer !== false) clearTimeout(changeTimer);
            changeTimer = setTimeout(function () {
                var tech = $(callback.target).val();

                ///console.log(tech);
                if (tech != '') {
                    var requestTech = new XMLHttpRequest()
                    var exists = 0;

                    requestTech.open('GET', location.protocol + '//' + '127.0.0.1:8000/filter/musicGenre/' + tech, true)
                    requestTech.onload = function () {

                        var data = JSON.parse(this.response)
                        $('#TechList').html('');

                        if (requestTech.status >= 200 && requestTech.status < 400) {

                            for (i = 0; i < data.names.length; i++) {
                                ////console.log(data.names[i].name);

                                if (data.names[i].name != tech) {

                                    $('#TechList').append('<option value="' + data.names[i].name + '">');
                                }
                            }
                        } else {
                            console.log('error')
                        }


                    }

                    requestTech.send()
                } else {
                }
                changeTimer = false;
            }, 500);
        });
        //////


        ///////////////////////////////////youtube links

        $(".comment").each(function () {
            var content = $(this).find(".comment-content").text();
            var ytLink = content.match(/^.*(http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?).*/);

            if (ytLink != null) {

                // console.log("link: " + ytLink[1]);
                $(this).find(".comment-content").append('<div id="video"><iframe width="500" height="300" src="https://www.youtube.com/embed/' + ytLink[2] + '" frameborder="0" allowfullscreen></iframe></iframe></div>');

            }


        });

        $('p').linkify();

        $(".report-btn").on("click", function () {
            var inputNotice = document.getElementById("postId");
            var postId = inputNotice.value;

            var reptxt = document.getElementById("reptxt");
            var reason = reptxt.value;

            $.ajax({
                url: location.protocol + '//' + window.location.host + '/report/reportPost',
                type: 'POST',
                data: {postId: postId, reason: reason},
            });
            $.growl.notice({message: "Zgłoszenie zostało przyjęte, dziękujemy za ulepszenie społczeństwa FindBand"});

            $('#mssgtxt').val("");
            $('#reptxt').val("");
            $('#modal-message').hide();
            $('#modal-report').hide();
        });

        $("#send-btn").on("click", function () {
            var receiverId = {{author.userId}};

            var messageText = document.getElementById("mssgtxt");
            var text = messageText.value;

            $.ajax({
                url: location.protocol + '//' + window.location.host + '/messages/send',
                type: 'POST',
                data: {receiverId: receiverId, text: text},
            });
            $.growl.notice({ message: "Wiadomość została wysłana do użytkownika, wejdź w zakładkę wiadomości, żeby ją zobaczyć" });

            $('#mssgtxt').val("");
            $('#reptxt').val("");
            $('#modal-message').hide();
            $('#modal-report').hide();
        });

        $("#add-usr-btn").on("click", function () {
            var bandId = {{Band.bandId}};

            var messageText = document.getElementById("addtxt");
            var text = messageText.value;

            $.ajax({
                url: location.protocol + '//' + window.location.host + '/messages/sendAddUserToBand',
                type: 'POST',
                data: {bandId: bandId, text: text},
            });
            $.growl.notice({ message: "Zgłoszenie zostało poprawnie wysłane!" });

            $('#addtxt').val("");
            $('#modal-add').hide();
        });
    </script>

    <script src="{{ asset('web/scripts/edit-band.js') }}"></script>

{% endblock %}