<!DOCTYPE html>
<html>

<head>

    <link rel="icon" type="image/x-icon" href=" "/>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    {% block stylesheets %}

        <link href="{{ asset('web/styles/index.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <meta charset="utf-8">
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.js"></script>

    <title>fBand</title>
</head>
<body>


<div class="row">

    <div class="columnLeft">
        <div id="ilogo">
            {# <a href="{{ path('main') }}"><img src="{{ asset('web/images/logov22.png') }}"  width="100"
                                               height="60"></a>#}
        </div>

        <div id="navigation">


            <a id="ilogo" href=""><img src="{{ asset('web/images/logo3.png') }}"></a>

            <hr>

            zarejestruj sie bo jestesmy spoko
            <div class="navigs">


            </div>


        </div>

        {% block left %}{% endblock %}
    </div>


    <div class="columnRight">
        <div id="contents">

        <h3>Podaj nowe hasło poniżej</h3>
        <form action="{{ path('changePasswordAction') }}" method="post">

            <div class="input-container"><i class="fas fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Podaj nowe hasło" name="password" id="password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Hasło musi składać się z conajmniej jednej wielkiej i jednej małej litery, jednej cyfry i o długości conajmniej 8 znaków."
                   required>
            </div>

                <div class="input-container"><i class="fas fa-key icon"></i>
            <input class="input-field"  type="password" placeholder="Powtórz nowe hasło" id="confirm_password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="psw-repeat"
                   title="Hasło musi składać się z conajmniej jednej wielkiej i jednej małej litery, jednej cyfry i o długości conajmniej 8 znaków."
                   required>  </div>
            <br>
            <input type="submit" class="btn" value="Zmień hasło">

        </form>


        </div>

</div>
</div>

<script>
    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
    function validatePassword() {
        if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Hasła nie zgadzają się!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>