{% extends 'parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/profile.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/search_bands.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('web/scripts/jquery.growl.js') }}"></script>
        <link href="{{ asset('web/styles/jquery.growl.css') }}" rel="stylesheet" type="text/css"/>
        <title>fBand</title>
    {% endblock %}


{% block body %}


        {#<h3 style="text-align: center; color: darkgrey;">pusto :(((((((((</h3>#}

    <div id="divide">
        <h3 style="text-align: center; color: darkgrey;">Ogłoszenia, które mogą cie zainteresować</h3>
    </div>

    {% for notice in notices %}
        {#  testowy #}
        <div class="post" id="usr-post">
            <a href="{{ path('profileIndexAction', {'username': notice.user.username } ) }}">
                <img id="project-avatar" src="{{ asset(photo_data_provider.PhotoById(notice.user.userId)) }}"
                     width="70" height="70"></a>

            <button class="reportico" onclick="reportPost('{{notice.user.username}}', '{{ notice.noticeId }}')"><i
                        class="fa fa-exclamation-circle"></i></button>

            <a class="noticeIns">{{notice.instrument.name}}</a>
            <a class="NoticeAuthor" href="{{ path('profileIndexAction', {'username': notice.user.username } ) }}">
                {{notice.user.firstname}} {{notice.user.lastname}} {% if notice.band is not null %}({{ notice.band.title }}) {% endif %}</a>
            ✽ {{notice.timestamp|date('Y-m-d')}}<br>

            <p class="project-title" style="font-size: 22px;" > {{notice.title}}</p>



            <p class="comment-content">
                {{ notice.details }}</p>
            <p class="ExpandContent" style="text-align: justify;"></p>

            <button class="buttonSend" onclick="openSendMessage('{{notice.user.firstname}}', '{{ notice.user.lastname }}', '{{ notice.user.userId }}')">
                Wyślij wiadomość
            </button>
            <button class="buttonSeeMore">
                <i class="far fa-caret-square-down"></i>
            </button>
        </div>
    {% endfor %}


<div id="divide">
    <h3 style="text-align: center; color: darkgrey;">Zespoły w twoim stylu</h3>
</div>

    {% for band in bands %}
        <div class="post">
            <a href="{{ path('bandProfileIndexAction', {'bandId':band.BandId}) }}"><img id="project-avatar"
                                                                                        src="{{ asset(photo_data_provider.BandPhotoById(band.bandId)) }}"
                                                                                        width="70" height="70"></a>
            <a class="project-title" href="{{ path('bandProfileIndexAction', {'bandId':band.BandId}) }}">{{band.title}}</a><br>
            {% for musicGenre in band.musicGenres %}
                <a class="project-lang" href="{{ path('bandProfileIndexAction', {'bandId':band.BandId}) }}">{{musicGenre.name}}</a>
            {% endfor %}
        </div>
    {% endfor %}



    {# wiadomosci #}

    <div id="modal-message" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Napisz wiadomość do <a> <span id="firstnameSpan"></span> <span id="lastnameSpan"></span> </a></p>
            <div class="photo-textarea">

                <textarea id="mssgtxt" name="messageText" class="form-control" rows="5" cols="25"></textarea>

                <input type="hidden" name="receiverId" id="receiverId" value="">

            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <input type="submit" id="send-btn" class="button" value="Wyślij">

            </div>
        </div>
    </div>

    {# reportowanie #}
    <div id="modal-report" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Dlaczego chcesz zgłosić ogłoszenie użytkownika <a>  <span id="reportUsername"></span></a>?</p>
            <div class="photo-textarea">

                <textarea id="reptxt" name="reason" class="form-control" rows="5" cols="25"></textarea>


                <input id="noticeId" type="hidden" name="noticeId" value='default'> {#idpostu?#}
            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <button type="submit" id="send-btn" class="report-btn button" value="">Zgłoś</button>

            </div>
        </div>
    </div>
    {#   #}


<script>
    function openSendMessage(firstname, lastname, userId) {
        document.getElementById('receiverId').value=userId ;
        document.getElementById("firstnameSpan").innerHTML = firstname;
        document.getElementById("lastnameSpan").innerHTML = lastname;
    }

    $(".buttonSeeMore").on("click", function () {
        event.preventDefault();

        var parent_post_id = $(this).parent();
        var height = parent_post_id.css('height');
        if (height == '100px') {////expand
            $(this).find('i').toggleClass('far fa-caret-square-up');
            parent_post_id.find(".ExpandContent").text( parent_post_id.find(".comment-content").text());
            parent_post_id.find(".comment-content").text("");
            parent_post_id.css('height','100%');
        } else{ ////collapse
            $(this).find('i').toggleClass('far fa-caret-square-down');
            parent_post_id.find(".comment-content").text( parent_post_id.find(".ExpandContent").text());
            parent_post_id.find(".ExpandContent").text("");
            parent_post_id.css('height','100px');}

    });



    //close modals
    $(".cancel-btn").on("click", function () {
        event.preventDefault();
        $('#mssgtxt').val("");
        $('#reptxt').val("");
        document.getElementById("reptxt").style.border = "0.5px solid grey";
        document.getElementById("mssgtxt").style.border = "0.5px solid grey";
        $('#modal-message').hide();
        $('#modal-report').hide();
    });



    ////popup message
    $(".buttonSend").on("click", function () {
        event.preventDefault();
        $('#modal-message').show();
    });


    function reportPost(username, noticeId) {
        event.preventDefault();
        //document.getElementById("postId").value = postId;
        document.getElementById('noticeId').value=noticeId ;
        document.getElementById("reportUsername").innerHTML = username;
        $('#modal-report').show();
    }

    $(".report-btn").on("click", function () {
        var inputNotice = document.getElementById("noticeId");
        var noticeId = inputNotice.value;

        var reptxt = document.getElementById("reptxt");
        var reason = reptxt.value;
        if(reason==null||reason==""){

            reptxt.style.border = "0.5px solid red";

        }else {
        $.ajax({
            url: location.protocol + '//' + window.location.host + '/report/reportNotice',
            type: 'POST',
            data: {noticeId: noticeId, reason: reason},
        });
        $.growl.notice({ message: "Zgłoszenie zostało przyjęte, dziękujemy za ulepszenie społczeństwa FindBand" });

        $('#mssgtxt').val("");
        $('#reptxt').val("");
        $('#modal-message').hide();
        $('#modal-report').hide();}
    });
    $("#send-btn").on("click", function () {
        var inputNotice = document.getElementById("receiverId");
        var receiverId = inputNotice.value;

        var messageText = document.getElementById("mssgtxt");
        var text = messageText.value;
        if(text==null||text==""){

            messageText.style.border = "0.5px solid red";

        }else {
        $.ajax({
            url: location.protocol + '//' + window.location.host + '/messages/send',
            type: 'POST',
            data: {receiverId: receiverId, text: text},
            success : function(text)
            {
                response = text;
                if (response === "Blocked") {
                    location.reload();
                } else {
                    $.growl.notice({ message: "Wiadomość została wysłana do użytkownika, wejdź w zakładkę wiadomości, żeby ją zobaczyć" });
                }
            }
        });

        $('#mssgtxt').val("");
        $('#reptxt').val("");
        $('#modal-message').hide();
        $('#modal-report').hide();}
    });

    $(document).ready(function () {

        {% for flashMessage in app.session.flashbag.get('notice') %}
        $.growl.error({ message:   "{{ flashMessage }}" });
        {% endfor %}
    });
</script>


{% endblock %}