{% extends 'parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/messages.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    <title>fBand</title>
{% endblock %}



{% block body %}

    <button class="navico ban-ico"><i class="fa fa-ban"></i> Zablokuj</button>
    <div id="Chat-Content">

        <div id="chat-container">
            {% for message in messages %}
                {#Od kogoś #}
                {% if message.sender.userId != app.user.userId %}
                    <div class="I-message">
                        <a href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}"><img
                                    id="comment-avatar-left"
                                    src="{{ asset(photo_data_provider.PhotoById(message.sender.userId)) }}" width="70"
                                    height="70"></a>


                        <a class="project-title"
                           href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}">
                            {{message.sender.username}}
                        </a>
                        ✽ {{ message.timestamp|date('Y-m-d h:m:s') }}


                        <p class="message-content">{{ message.text }}</p>


                    </div>
                    {# #}

                    {#Ode mnie #}

                {% else %}
                    <div class="YOU-message">
                        <a href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}"> <img
                                    id="comment-avatar-right"
                                    src="{{ asset(photo_data_provider.PhotoById(message.sender.userId)) }}"

                                    width="70" height="70"></a>
                        <div id="cos">
                            <div class="title-right">
                                <a class="project-title"
                                   href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}">
                                    {{message.sender.username}}</a>
                                ✽ {{ message.timestamp|date('Y-m-d h:m:s') }}
                            </div>
                        </div>

                        <p class="message-content">{{ message.text }}</p>

                    </div>

                {% endif %}
                {# #}
            {% endfor %}


        </div>

        <div class="form-post">

            <img id="post-avatar" src="{{ asset(photo_data_provider.PhotoById(app.user.userId)) }}" width="70" height="70">
            <form action="{{ path('sendMessageAndRedirectAction') }}" method="post">
            <div class="photo-textarea">
                <textarea name="text" class="form-control" rows="5" cols="25"></textarea>

                <input type="hidden" name="receiverId" value={{ app.request.get('userId')
                }}>

                <button style="display:none;" id="file-cancel"></button>


                <input type="submit" id="button-rem" class="button-post" value="Wyślij"></div>
            <br>

            </form>
        </div>

    </div>
    <script>

        function validateformPost() {
            var content = document.postForm.text.value;

            if (content == null || content == "") {
                //console.log(reason);
                document.postForm.text.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        $(document).ready(function () {


            var element = document.getElementById("chat-container");
            element.scrollTop = element.scrollHeight - element.clientHeight;


        });


    </script>



{% endblock %}