{% extends 'parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/messages.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('web/scripts/jquery.growl.js') }}"></script>
    <link href="{{ asset('web/styles/jquery.growl.css') }}" rel="stylesheet" type="text/css"/>
    <title>fBand</title>
{% endblock %}



{% block body %}
    {% if user.username != 'admin' %}
        <button class="navico ban-ico" onclick="banUser()" id="ban-usr-btn"><i class="fa fa-ban"></i>

            {% if app.user.UserBannedForUser(user) %}Odblokuj
            {% else %}Zablokuj
            {% endif %}

        </button>
    {% endif %}
    <div id="Chat-Content">

        <div id="chat-container">
            {% for message in messages %}
                {#Od kogoś #}
                {% if message.sender.userId != app.user.userId %}
                    <div class="I-message">
                        <a {% if user.username != 'admin' %} href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}" {% endif %}><img
                                    id="comment-avatar-left"
                                    src="{{ asset(photo_data_provider.PhotoById(message.sender.userId)) }}" width="70"
                                    height="70"></a>

                {% if user.username != 'admin' %}

                        <a class="project-title"
                           href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}">
                            {{message.sender.username}}
                        </a>
                    {% else %}
                        <a class="project-title">
                            FindBand Newsletter
                        </a>
                {% endif %}
                        ✽ {{ message.timestamp|date('Y-m-d h:i:s') }}


                        <p class="message-content">{{ message.text }}</p>


                    </div>
                    {# #}

                    {#Ode mnie #}

                {% else %}
                    <div class="YOU-message">
                        <a href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}"> <img
                                    id="comment-avatar-right"
                                    src="{{ asset(photo_data_provider.PhotoById(message.sender.userId)) }}"

                                    width="70" height="70"></a>
                        <div id="cos">
                            <div class="title-right">
                                <a class="project-title"
                                   href="{{ path('profileIndexAction', {'username': message.sender.username } ) }}">
                                    {{message.sender.username}}</a>
                                ✽ {{ message.timestamp|date('Y-m-d h:i:s') }}
                            </div>
                        </div>

                        <p class="message-content">{{ message.text }}</p>

                    </div>

                {% endif %}
                {# #}
            {% endfor %}


        </div>
        {% if user.username != 'admin' %}

        <div class="form-post">

            <img id="post-avatar" src="{{ asset(photo_data_provider.PhotoById(app.user.userId)) }}" width="70" height="70">
            <form action="{{ path('sendMessageAndRedirectAction') }}" method="post" name="FormMess" onsubmit="return validateformPost()">
            <div class="photo-textarea">
                <textarea id="textarea" name="text" class="form-control" rows="5" cols="25"></textarea>

                <input type="hidden" name="receiverId" value={{ app.request.get('userId')
                }}>

                <button style="display:none;" id="file-cancel"></button>


                <input type="submit" id="button-rem" class="button-post" value="Wyślij"></div>
            <br>

            </form>
        </div>
{% endif %}
    </div>
    <script>

        function validateformPost() {
            var content = document.getElementById('textarea').value;

            if (content == null || content == "") {
               // console.log('a');
               document.getElementById('textarea').style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        $(document).ready(function () {


            var element = document.getElementById("chat-container");
            element.scrollTop = element.scrollHeight - element.clientHeight;


        });

        function banUser() {
            $.ajax({
                url: location.protocol + '//' + window.location.host + '/profile/blockUser',
                type: 'POST',
                data: {subjectId: {{app.request.get('userId')}}},
                success: function() {
                    location.reload();
                }
            });



        }

        $(document).ready(function () {

            {% for flashMessage in app.session.flashbag.get('notice') %}
            $.growl.error({ message:   "{{ flashMessage }}" });
            {% endfor %}
        });
    </script>



{% endblock %}