{% extends 'parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/profile.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('web/scripts/linkify.min.js') }}"></script>
    <script src="{{ asset('web/scripts/linkify-jquery.min.js') }}"></script>
    <script src="{{ asset('web/scripts/jquery.growl.js') }}"></script>
    <title>{{ user.firstname }} {{ user.lastname }}</title>
{% endblock %}

{% block body %}
    <div id="profile">
        <div class="profile-left">
            <img id="profile-picture"
                 src="{{ asset(photo_data_provider.PhotoById(user.userId)) }}" width="230"
                 height="280">
        </div>

        <div class="profile-right">
            <p id="name-profile">{{ user.firstname }} {{ user.lastname }}{% if user.ageInYears %}, {{ user.ageInYears }}{% endif %}{% if user.city %}, {{ user.city.name }}{% endif %}
            </p>
            <p class="infos">Instrumenty </p>
            <p>
            <ul style="list-style-type:circle;">
                {% for instrument in user.instrument %}
                    <li>{{ instrument.name }}
                    </li>
                {% endfor %} </ul>
            <hr>


            <p class="infos">Gatunki </p>
            <p>
            <ul style="list-style-type:circle;">
                {% for musicGenre in user.musicGenres %}
                    <li>{{ musicGenre.name }}
                    </li>
                {% endfor %} </ul>
            <hr>
            <p>{{ user.info }}</p>
        </div>
    </div>


    <div id="mess">

        {% if app.user.username != user.username %}
            <button class="navico message-ico"><i class="fa fa-envelope"></i> Wyślij wiadomość</button>
            <button class="navico ban-ico"><i class="fa fa-ban"></i> Zablokuj</button>
        {% endif %}
    </div>


    <div id="modal-message" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Napisz wiadomość do <a>ime naz </a></p>
            <div class="photo-textarea">

                <textarea id="mssgtxt" name="messageText" class="form-control" rows="5" cols="25"></textarea>

                <input type="hidden" name="receiverId" value="">

            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <input type="submit" id="send-btn" class="button" value="Wyślij">

            </div>
        </div>
    </div>

    {# reportowanie #}
    <div id="modal-report" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Dlaczego chcesz zgłosić ogłoszenie użytkownika <a>  <span id="reportUsername"></span></a>?</p>
            <div class="photo-textarea">

                <textarea id="reptxt" name="reason" class="form-control" rows="5" cols="25"></textarea>


                <input id="postId" type="hidden" name="postId" value='default'> {#idpostu?#}
            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <button type="submit" id="send-btn" class="report-btn button" value="">Zgłoś</button>

            </div>
        </div>
    </div>
    {#   #}

    {% if user.username == app.user.username %}
        <form action="{{ path('createProfilePostAction') }}" method="post" enctype="multipart/form-data">
            <div class="form-post">
                <img id="post-avatar" src="{{ asset(photo_data_provider.PhotoById(user.userId)) }}" width="70"
                     height="70">

                <div class="photo-textarea">
                    <textarea name="text" class="form-control" rows="5" cols="25"></textarea>

                    <button style="display:none;" id="file-cancel"></button>
                    <label>
                        <input type="file" id="add-image" accept="image/jpeg, image/png" class="fileToUpload"
                               name="photo" style="display:none;"/>
                        <span><i class="fa fa-image"></i></span>
                    </label>


                    <input type="submit" id="button-rem" class="button-post" value="Opublikuj"></div>
                <br>

            </div>
        </form>
    {% endif %}
    {% for post in posts %}
        <div class="comment">
            <a href="{{ path('profileIndexAction', {'username': post.user.username}) }}">
                <img id="comment-avatar"
                     src="{{ asset(photo_data_provider.PhotoById(post.user.userId)) }}"
                     width="70"
                     height="70"></a>

            <p class="project-title"
               href=""> {{post.user.firstname}} {{ post.user.lastname }}</p>
            ✽ {{post.timestamp|date('Y-m-d')}}

            {% if post.user.username != app.user.username %}
                <button class="reportico" onclick="reportPost('{{post.user.username}}', '{{ post.postId }}')"><i
                        class="fa fa-exclamation-circle"></i></button>
            {% endif %}

            <p class="comment-content">{{post.text}}</p>
            {% if photo_data_provider.PostPhotoById(post.postId) is not null  %}
            <div class="comment-image"><a target="_blank" href="{{ asset(photo_data_provider.PostPhotoById(post.postId)) }}" ><img image-zoom
                                            src="{{ asset(photo_data_provider.PostPhotoById(post.postId)) }}"
                                            width="250"
                    ></a></div>
            {% endif %}
        </div>
    {% endfor %}


    <script>function reportPost(username, postId) {
            event.preventDefault();
            document.getElementById('postId').value=postId ;
            document.getElementById("reportUsername").innerHTML = username;
            $('#modal-report').show();
        }

        $(document).ready(function () {


            ////popup message
            $(".message-ico").on("click", function () {
                event.preventDefault();
                $('#modal-message').show();
            });

            //close modals
            $(".cancel-btn").on("click", function () {
                event.preventDefault();
                $('#mssgtxt').val("");
                $('#reptxt').val("");
                $('#modal-message').hide();
                $('#modal-report').hide();
            });

            //////////////photo preview
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var filename = (input.files[0].name);

                    reader.onload = function (e) {
                        $('#file-cancel').html(filename + " x");
                        $('#file-cancel').show();
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#add-image").change(function () {
                readURL(this);
            });
            /////////////////

            $("#file-cancel").on("click", function () {
                event.preventDefault();
                $('#add-image').val("");
                $('#file-cancel').hide();
            });


        });

        ////////////////////////////validate forms

        function validateformReport() {
            var reason = document.reportForm.reason.value;

            if (reason == null || reason == "") {
                //console.log(reason);
                document.reportForm.reason.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        function validateformMessage() {
            var message = document.messageForm.messageText.value;

            if (message == null || message == "") {
                //console.log(reason);
                document.messageForm.messageText.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        function validateformPost() {
            var content = document.postForm.text.value;
            var photo = document.postForm.photo.value;

            if ((content == null || content == "") && (photo == null || photo == "")) {
                //console.log(reason);
                document.postForm.text.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        ///////////////////////////////////youtube links

        $(".comment").each(function () {
            var content = $(this).find(".comment-content").text();
            var ytLink = content.match(/^.*(http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?).*/);

            if(ytLink!=null){

               // console.log("link: " + ytLink[1]);
                $(this).find(".comment-content").append('<div id="video"><iframe width="500" height="300" src="https://www.youtube.com/embed/' + ytLink[2] + '" frameborder="0" allowfullscreen></iframe></iframe></div>');

            }



        });

        $('p').linkify();
        $(".report-btn").on("click", function () {
            var inputNotice = document.getElementById("postId");
            var postId = inputNotice.value;

            var reptxt = document.getElementById("reptxt");
            var reason = reptxt.value;

            $.ajax({
                url: location.protocol + '//' + window.location.host + '/report/reportPost',
                type: 'POST',
                data: {postId: postId, reason: reason},
            });
            $.growl.notice({ message: "Zgłoszenie zostao przyjęte, dziękujemy za ulepszenie społczeństwa FindBand" });

            $('#mssgtxt').val("");
            $('#reptxt').val("");
            $('#modal-message').hide();
            $('#modal-report').hide();
        });
    </script>



{% endblock %}