{% extends 'parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/search_projects.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    {% endblock %}

{% block left %}
    <form action="{{ path('usersIndexAction') }}" method="get">
        <div class="filter">
            <div class="title">Filtruj użytkowników</div>

            <hr>
            <div class="bio-title">
                Imię
                <input class="bio" type="text" size="30" name="firstName" id="inputTitle" placeholder="..."
                       {% if app.request.query.all is not empty %} value={{ app.request.query.all['firstName'] }} {% endif %}
                       ></div>
            <br>

            <div class="bio-title">
                Nazwisko
                <input class="bio" type="text" size="30" name="lastName" id="inputTitle" placeholder="..."
                        {% if app.request.query.all is not empty %}  value={{ app.request.query.all['lastName'] }} {% endif %}
                       ></div>
            <br>
            <input type="hidden" name="page" value={{ page }} >
            <div class="bio-title">
                Instrument
                <input type="LangList" class="bio" placeholder="..." maxlength="50" id="lang" name="instrument"
                        {% if app.request.query.all is not empty %}  value={{ app.request.query.all['instrument'] }} {% endif %}>

            </div>
            <br>

            <div class="bio-title">
                Gatunek
                <input type="TechList" class="bio" id="tech" placeholder="..." maxlength="50" name="musicGenre"
                        {% if app.request.query.all is not empty %}  value={{ app.request.query.all['musicGenre'] }} {% endif %}>
                <datalist id="TechList">

                </datalist>
            </div>
            <br>
            <div class="bio-title">
                Miasto
                <input type="CityList" class="bio" placeholder="..." maxlength="50" id="city" list="CityList" name="city"
                       {% if app.request.query.all is not empty %}value={{ app.request.query.all['city'] }} {% endif %}
                       >
                <datalist id="CityList">

                </datalist>
            </div>

            <hr>
            <div class="sort">
                Sortuj według:

                <select name="sorting">
                    <option value="A-Z" {% if app.request.query.all is not empty and app.request.query.all['sorting'] == "A-Z" %} selected{% endif %}>A-Z</option>
                    <option value="Z-A" {% if app.request.query.all is not empty and app.request.query.all['sorting'] == "Z-A" %} selected{% endif %}>Z-A</option>
                    <option value="Najstarsi" {% if app.request.query.all is not empty and app.request.query.all['sorting'] == "Najstarsi" %} selected{% endif %}>Najstarsi</option>
                    <option value="Najmlodsi" {% if app.request.query.all is not empty and app.request.query.all['sorting'] == "Najmlodsi" %} selected{% endif %}>Najmłodsi</option>
                </select>
                <br>
                <div class="btn-search">
                    <input type="submit" id="upload"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block body %}


        {%  for user in users %}
        <div class="post" id="usr-post">
            <a href="{{ path('profileIndexAction', {'username': user.username } ) }}"><img id="user-avatar" src="data:image/jpeg;base64,{{ photo_data_provider.PhotoById(user.userId) }}" width="70" height="70"></a>

            <a  href="{{ path('profileIndexAction', {'username': user.username } ) }}" class="project-title">{{user.firstname}} {{ user.lastname }}</a><br>
            {% for instrument in user.instrument %}
                <a class="project-lang">{{ instrument.name }}</a>
            {% endfor %}

                <a class="project-autors">{% if user.city is not null %}{{ user.city.name }} {% endif %}</a>

        </div>
        {% endfor %}

    <div class="pagination">
            {% if page != 1 %}
            <a class="pagination-button prev" href="{{path('usersIndexAction')}}{{ previousPageUrl }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
        <div style="display: inline-block;
    margin-top: 5px;">
            <a class="pagination-a" href="#">{{page}}</a>
        </div>
        {% if nextPage is not null %}
            <a class="pagination-button next" href="{{path('usersIndexAction')}}{{ nextPageUrl }}" ><i  class="fas fa-arrow-right"></i></a>
        {% endif %}

    </div>



    <script src="{{ asset('web/scripts/edit-profile.js') }}"></script>


{% endblock %}