{% extends 'parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/profile.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/search_bands.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('web/scripts/jquery.growl.js') }}"></script>
        <link href="{{ asset('web/styles/jquery.growl.css') }}" rel="stylesheet" type="text/css"/>
        <title>Ogłoszenia</title>
    {% endblock %}

{% block left %}
    <form action="{{ path('searchNoticesIndexAction') }}" method="get">
        <div class="filter">
            <div class="title">Filtruj ogłoszenia</div>

            <hr>


            <div class="bio-title">
                Instrument
                <input type="LangList" class="bio" placeholder="..." maxlength="50" id="lang" name="instrument"
                       {% if app.request.query.all['instrument'] is defined is not empty %}value="{{ app.request.query.all['instrument'] }}" {% endif %}
                        >

            </div>
            <br>

            <div class="bio-title">
                Zespół
                <input type="TechList" class="bio" id="tech" placeholder="..." maxlength="50" name="band"
                       {% if  app.request.query.all['band'] is defined %}value="{{ app.request.query.all['band'] }}" {% endif %}
                       >
                <datalist id="TechList">

                </datalist>
            </div>
            <br>
            <div class="bio-title">
                Autor
                <input type="CityList" class="bio" placeholder="..." maxlength="50" id="city" list="CityList" name="author"
                       {% if app.request.query.all['author'] is defined %}value="{{ app.request.query.all['author'] }}" {% endif %}
                       >
                <datalist id="CityList">

                </datalist>
            </div>

            <hr>
            <div class="sort">
                Sortuj według:

                <select name="sorting">
                    <option value="A-Z" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "A-Z" %} selected{% endif %}>A-Z</option>
                    <option value="Z-A" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "Z-A" %} selected{% endif %}>Z-A</option>
                    <option value="Najstarsze" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "Najstarsze" %} selected{% endif %}>Najstarsze</option>
                    <option value="Najnowsze" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "Najnowsze" %} selected{% endif %}>Najnowsze</option>
                </select>
                <br>
                <div class="btn-search">
                    <input type="submit" id="upload"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block body %}
    {% for notice in notices %}
    {#  testowy #}
    <div class="post" id="usr-post">
        <a href="{{ path('profileIndexAction', {'username': notice.user.username } ) }}">
            <img id="project-avatar" src="{{ asset(photo_data_provider.PhotoById(notice.user.userId)) }}"
                        width="70" height="70"></a>
        {% if notice.user.username != app.user.username %}
        <button class="reportico" onclick="reportPost('{{notice.user.username}}', '{{ notice.noticeId }}')"><i
                    class="fa fa-exclamation-circle"></i></button>
        {% endif %}
        {% if  notice.instrument.name is defined %}
        <a class="noticeIns">{{notice.instrument.name}}</a>
        {% endif %}
        <a class="NoticeAuthor" href="{{ path('profileIndexAction', {'username': notice.user.username } ) }}">
            {{notice.user.firstname}} {{notice.user.lastname}} {% if notice.band is not null %}({{ notice.band.title }}) {% endif %}</a>
        ✽ {{notice.timestamp|date('Y-m-d')}}<br>

        <p class="project-title" style="font-size: 22px;" > {{notice.title}}</p>



        <p class="comment-content">
            {{ notice.details }}</p>
        <p class="ExpandContent" style="text-align: justify;"></p>
        {% if notice.user.username != app.user.username %}

        <button class="buttonSend" onclick="openSendMessage('{{notice.user.firstname}}', '{{ notice.user.lastname }}', '{{ notice.user.userId }}')">
            Wyślij wiadomość
        </button>
        {% endif %}
        <button class="buttonSeeMore">
            <i class="far fa-caret-square-down"></i>
        </button>
    </div>
    {% endfor %}
    {#  testowy #}

    <div class="pagination">
        {% if page != 1 %}
            <a class="pagination-button prev" href="{{path('searchNoticesIndexAction')}}{{ previousPageUrl }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        <div style="display: inline-block;
    margin-top: 5px;">
            <a class="pagination-a" href="#">{{page}}</a>
        </div>
        {% if nextPage is not null %}
            <a class="pagination-button next" href="{{path('searchNoticesIndexAction')}}{{ nextPageUrl }}" ><i  class="fas fa-arrow-right"></i></a>
        {% endif %}

    </div>

    <div id="modal-message" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Napisz wiadomość do <a> <span id="firstnameSpan"></span> <span id="lastnameSpan"></span> </a></p>
            <div class="photo-textarea">

                <textarea id="mssgtxt" name="messageText" class="form-control" rows="5" cols="25"></textarea>

                <input type="hidden" name="receiverId" id="receiverId" value="">

            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <input type="submit" id="send-btn" class="button" value="Wyślij">

            </div>
        </div>
    </div>

    {# reportowanie #}
    <div id="modal-report" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p>Dlaczego chcesz zgłosić ogłoszenie użytkownika <a>  <span id="reportUsername"></span></a>?</p>
            <div class="photo-textarea">

                <textarea id="reptxt" name="reason" class="form-control" rows="5" cols="25"></textarea>


                <input id="noticeId" type="hidden" name="noticeId" value='default'> {#idpostu?#}
            </div>
            <div class="buttons">
                <button class="cancel-btn button">Anuluj</button>
                <button type="submit" id="send-btn" class="report-btn button" value="">Zgłoś</button>

            </div>
        </div>
    </div>
    {#   #}

    {#<script src="{{ asset('web/scripts/edit-profile.js') }}"></script>
    #}
    <script>
            $(".buttonSeeMore").on("click", function () {
                event.preventDefault();

                var parent_post_id = $(this).parent();
                var height = parent_post_id.css('height');
                if (height == '100px') {////expand
                    $(this).find('i').toggleClass('far fa-caret-square-up');
                    parent_post_id.find(".ExpandContent").text( parent_post_id.find(".comment-content").text());
                    parent_post_id.find(".comment-content").text("");
                    parent_post_id.css('height','100%');
                } else{ ////collapse
                    $(this).find('i').toggleClass('far fa-caret-square-down');
                    parent_post_id.find(".comment-content").text( parent_post_id.find(".ExpandContent").text());
                    parent_post_id.find(".ExpandContent").text("");
                parent_post_id.css('height','100px');}

            });



            //close modals
            $(".cancel-btn").on("click", function () {
                event.preventDefault();
                $('#mssgtxt').val("");
                $('#reptxt').val("");
                $('#modal-message').hide();
                $('#modal-report').hide();
            });



            ////popup message
            $(".buttonSend").on("click", function () {
                event.preventDefault();
                $('#modal-message').show();
            });


            function reportPost(username, noticeId) {
                event.preventDefault();
                //document.getElementById("postId").value = postId;
                document.getElementById('noticeId').value=noticeId ;
                document.getElementById("reportUsername").innerHTML = username;
                $('#modal-report').show();
            }

            function isEllipsisActive(e) {
                if (e.text().length<90) {
                   return true;
                } else {
                    return false;
                }
            }

            $(".post").each(function () {
                var content = $(this).find(".comment-content");

                if ( isEllipsisActive(content) ) {
                    $(this).find(".buttonSeeMore").remove();
                }
            });

            $(".report-btn").on("click", function () {
                var inputNotice = document.getElementById("noticeId");
                var noticeId = inputNotice.value;

                var reptxt = document.getElementById("reptxt");
                var reason = reptxt.value;

                $.ajax({
                    url: location.protocol + '//' + window.location.host + '/report/reportNotice',
                    type: 'POST',
                    data: {noticeId: noticeId, reason: reason},
                });
                $.growl.notice({ message: "Zgłoszenie zostało przyjęte, dziękujemy za ulepszenie społczeństwa FindBand" });

                $('#mssgtxt').val("");
                $('#reptxt').val("");
                $('#modal-message').hide();
                $('#modal-report').hide();
            });
            function openSendMessage(firstname, lastname, userId) {
                document.getElementById('receiverId').value=userId ;
                document.getElementById("firstnameSpan").innerHTML = firstname;
                document.getElementById("lastnameSpan").innerHTML = lastname;
            }

            $("#send-btn").on("click", function () {
                var inputNotice = document.getElementById("receiverId");
                var receiverId = inputNotice.value;

                var messageText = document.getElementById("mssgtxt");
                var text = messageText.value;

                $.ajax({
                    url: location.protocol + '//' + window.location.host + '/messages/send',
                    type: 'POST',
                    data: {receiverId: receiverId, text: text},
                    success : function(text)
                    {
                        response = text;
                        if (response === "Blocked") {
                            location.reload();
                        } else {
                            $.growl.notice({ message: "Wiadomość została wysłana do użytkownika, wejdź w zakładkę wiadomości, żeby ją zobaczyć" });
                        }
                    }
                });

                $('#mssgtxt').val("");
                $('#reptxt').val("");
                $('#modal-message').hide();
                $('#modal-report').hide();
            });

            $(document).ready(function () {

                {% for flashMessage in app.session.flashbag.get('notice') %}
                $.growl.error({ message:   "{{ flashMessage }}" });
                {% endfor %}
            });
    </script>

{% endblock %}