{% extends 'parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/search_bands.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
        <title>Zespoły</title>
    {% endblock %}

{% block left %}
    <form action="{{ path('bandsIndexAction') }}" method="get">

        <div class="filter">
            <div class="title">Filtruj zespoły</div>

            <hr>
            <div class="bio-title">
                <a>Nazwa </a>
                <input class="bio" type="text" size="30" name="title" id="inputTitle" placeholder="..."
                       {% if app.request.query.all['title'] is defined %}value={{ app.request.query.all['title'] }} {% endif %}
                ></div>
            <br>

            <div class="bio-title">
                <a>Członek </a>
                <input type="text" name="member" class="bio" placeholder="..." maxlength="50" id="lang"
                       {% if app.request.query.all['member']  is defined %}value={{ app.request.query.all['member'] }} {% endif %}
                >

                <input type="hidden" name="page" value={{ page }}>
            </div>
            <br>

            <div class="bio-title">
                <a>Gatunek </a>
                <input type="TechList" class="bio" name="musicGenre" id="tech" placeholder="..." maxlength="50"
                       list="TechList" {% if app.request.query.all['musicGenre'] is defined %}value={{ app.request.query.all['musicGenre'] }} {% endif %}>
                <datalist id="TechList">

                </datalist>
            </div>
            <br>


            <hr>
            <div class="sort">
                Sortuj według:
                <select name="sorting">
                    <option value="A-Z" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "A-Z" %} selected{% endif %}>A-Z</option>
                    <option value="Z-A" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "Z-A" %} selected{% endif %}>Z-A</option>
                    <option value="Najstarsze" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "Najstarsze" %} selected{% endif %}>Najstarsze</option>
                    <option value="Najnowsze" {% if app.request.query.all['sorting'] is defined and app.request.query.all['sorting'] == "Najnowsze" %} selected{% endif %}>Najnowsze</option>
                </select>
                <br>
                <div class="btn-search">
                    <input type="submit" id="upload"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block body %}


    {% for band in bands %}
    <div class="post">
        <a href="{{ path('bandProfileIndexAction', {'bandId':band.BandId}) }}"><img id="project-avatar"
                         src="{{ asset(photo_data_provider.BandPhotoById(band.bandId)) }}"
                         width="70" height="70"></a>
        <a class="project-title" href="{{ path('bandProfileIndexAction', {'bandId':band.BandId}) }}">{{band.title}}</a><br>
        {% for musicGenre in band.musicGenres %}
        <a class="project-lang" href="{{ path('bandProfileIndexAction', {'bandId':band.BandId}) }}">{{musicGenre.name}}</a>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="pagination">
        {% if page != 1 %}
            <a class="pagination-button prev" href="{{path('bandsIndexAction')}}{{ previousPageUrl }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        <div style="display: inline-block;
    margin-top: 5px;">
            <a class="pagination-a" href="#">{{page}}</a>
        </div>
        {% if nextPage is not null %}
            <a class="pagination-button next" href="{{path('bandsIndexAction')}}{{ nextPageUrl }}" ><i  class="fas fa-arrow-right"></i></a>
        {% endif %}

    </div>

    <script src="{{ asset('web/scripts/edit-profile.js') }}"></script>


{% endblock %}